#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export CXXFLAGS += -fvisibility=hidden -fvisibility-inlines-hidden

%:
	dh $@ --dbg-package=libqjson-dbg \
	--with=pkgkde-symbolshelper \
	--parallel \
	--list-missing
